<h1>Komandas</h1>

<table>
    <thead>
        <tr>
            <th>Nosaukums</th>
            <th>Komanda</th>
        </tr>
    </thead>

    <tbody>
        <% @teams.each do |team| %>
            <tr>
                <td><%= team.title %></td>
                <td><%= team.code %></td>
                <td><%= link_to "Labot", edit_team_path(team) %></td>
                <td><%= link_to "Dzēst", team_path(team), method: :delete, data: { confirm: "Vai esat drošs?" } %></td>
            </tr>
        <% end %>   
    </tbody>
</table>

<%= link_to "Jauna komanda", new_team_path %>