<%= form_with(model: player, local: true) do |form| %>
    <div> 
        <%= form.label :title, "Spēlētāja vārds" %>
        <%= form.text_field :name %>
    </div>

    <div> 
        <%= form.label :title, "Spēlētāja numurs" %>
        <%= form.text_field :number %>
    </div>

    <div> 
        <%= form.label :title, "Spēlētāja pozīcija" %>
        <%= form.text_field :position %>
    </div>

    <div> 
        <%= form.label :title, "Spēlētāja klubs" %>
        <%= form.text_field :club %>
    </div>

    <div> 
        <%= form.label :title, "Spēlētāja komanda" %>
        <%= form.collection_select :team_id, Team.all, :id, :team_name, prompt: true %>
    </div>

    <div>
        <%= form.submit "Saglabāt" %>
    </div>
<% end %>